@import url("https://fonts.googleapis.com/css?family=Titillium+Web:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 700 16px/1 "Titillium Web", sans-serif;
}

body {
  margin: 40px 0;
  color: #fff;
  background-color: #000;
}

#app {
  width: 640px;
  margin: 0 auto;
}

.cards {
  position: relative;
  height: 190px;
}

.card-wrapper {
  position: absolute;
  bottom: 0;
  width: 6.25%;
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card-wrapper:nth-child(1) {
  height: 40px;
}
.card-wrapper:nth-child(2) {
  height: 50px;
}
.card-wrapper:nth-child(3) {
  height: 60px;
}
.card-wrapper:nth-child(4) {
  height: 70px;
}
.card-wrapper:nth-child(5) {
  height: 80px;
}
.card-wrapper:nth-child(6) {
  height: 90px;
}
.card-wrapper:nth-child(7) {
  height: 100px;
}
.card-wrapper:nth-child(8) {
  height: 110px;
}
.card-wrapper:nth-child(9) {
  height: 120px;
}
.card-wrapper:nth-child(10) {
  height: 130px;
}
.card-wrapper:nth-child(11) {
  height: 140px;
}
.card-wrapper:nth-child(12) {
  height: 150px;
}
.card-wrapper:nth-child(13) {
  height: 160px;
}
.card-wrapper:nth-child(14) {
  height: 170px;
}
.card-wrapper:nth-child(15) {
  height: 180px;
}
.card-wrapper:nth-child(16) {
  height: 190px;
}
.card-wrapper[data-sort-index="0"] {
  transform: translateX(0%);
}
.card-wrapper[data-sort-index="1"] {
  transform: translateX(100%);
}
.card-wrapper[data-sort-index="2"] {
  transform: translateX(200%);
}
.card-wrapper[data-sort-index="3"] {
  transform: translateX(300%);
}
.card-wrapper[data-sort-index="4"] {
  transform: translateX(400%);
}
.card-wrapper[data-sort-index="5"] {
  transform: translateX(500%);
}
.card-wrapper[data-sort-index="6"] {
  transform: translateX(600%);
}
.card-wrapper[data-sort-index="7"] {
  transform: translateX(700%);
}
.card-wrapper[data-sort-index="8"] {
  transform: translateX(800%);
}
.card-wrapper[data-sort-index="9"] {
  transform: translateX(900%);
}
.card-wrapper[data-sort-index="10"] {
  transform: translateX(1000%);
}
.card-wrapper[data-sort-index="11"] {
  transform: translateX(1100%);
}
.card-wrapper[data-sort-index="12"] {
  transform: translateX(1200%);
}
.card-wrapper[data-sort-index="13"] {
  transform: translateX(1300%);
}
.card-wrapper[data-sort-index="14"] {
  transform: translateX(1400%);
}
.card-wrapper[data-sort-index="15"] {
  transform: translateX(1500%);
}

.card {
  position: relative;
  height: 100%;
  margin: 0 5px;
  border: 1px solid #ff3179;
  background-color: #000;
  box-shadow: 0 0 25px #c2255c;
}

.card-active {
  filter: hue-rotate(200deg);
}

.card-locked {
  filter: hue-rotate(280deg);
}

.value {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.25rem;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 5px 0;
  padding-top: 20px;
  border-top: 1px solid #fff;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #ff3179;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 880px) {
  #app {
    width: 800px;
  }

  .value {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1084px) {
  #app {
    width: 1024px;
  }

  .value {
    font-size: 1.75rem;
  }
}